<form name="frmSignInUsersList" novalidate>
    <input ng-model="query">
    <div ng-repeat ="signInUser in signInUsersList ">
        
        <table class="AppFormTableBig">
            <tr>
                <th colspan="5">Name : {{signInUser.Name}}, E-Mail ID : {{signInUser.EMailID}}, Mobile No : {{signInUser.MobileNo}}</th>
            </tr>
            <tr ng-show="signInUser.Orders.length > 0">
                <td style="width:20%" align="center"><b>Item</b></td>
                <td style="width:20%" align="center"><b>Price</b></td>
                <td style="width:20%" align="center"><b>Quantity</b></td>
                <td style="width:20%" align="center"><b>Total Amount</b></td>
                <td style="width:20%" align="center"><b>Order Date Time</b></td>
            </tr>
            <tr ng-repeat ="order in signInUser.Orders | orderBy : ['-Item', 'TotalAmount'] | filter: search">
                <td align="center">
                    {{order.Item}}
                </td>
                <td align="center">
                    {{order.ItemPrice}}
                </td>
                <td align="center">
                    {{order.Quantity}}
                </td>
                <td align="center">
                    {{order.TotalAmount}}
                </td>
                <td align="center">
                    {{order.OrderDateTime}}
                </td>
            </tr>
            <tr ng-show="signInUser.Orders.length == 0 || signInUser.Orders == null">
                <td colspan="5" align="center"><b>No Order Placed Till Now.</b></td>
            </tr>
        </table>
    </div>
</form>

