@{
    ViewBag.Title = "Welcome to AngularJS Application";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <center><h1>@ViewBag.Title.</h1></center>
            </hgroup>
        </div>
    </section>
}
